.recipient,
.prey-size,
.prey-item,
.provider,
.nest {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  min-width: 150px;
}

.recipient-bt,
.provider-bt,
.prey-item-bt,
.prey-size-bt,
.nest-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}