.box-items {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 15px;
  border: 1px solid black;
  justify-content: space-evenly;
  padding: 0px 10px;
}


.recipient,
.prey-size,
.prey-item,
.provider,
.nest {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  min-width: 150px;
}

.recipient-bt,
.provider-bt,
.prey-item-bt,
.prey-size-bt,
.nest-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.number-items input {
  width: 135px;
}

#item-btn {
  display: inline-block;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  text-align: right;
}

.display-buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100px;
}

.display-buttons .displayM {
  width: 150px;
}